body {
    margin: 0;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d2e21;
    color: white;
    user-select: none;
}

.chess-board-wrapper {
    display: grid;
    grid-template-columns: min-content min-content 500px;
    grid-template-areas: 
        ".      header          .      "
        "y      chess-board     sidebar"
        ".      x               .      ";
    gap: 1.5rem;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px 1fr 150px;
    grid-template-areas:
        "disabled-white"
        "."
        "disabled-black";

    border: solid #B58863 1px;
}

    .sidebar .disabled-white {
        grid-area: disabled-white;
        color: white;
    }

    .sidebar .disabled-black {
        grid-area: disabled-black;
        color: black;
    }

    .sidebar .disabled-white, .sidebar .disabled-black {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar .black-piece, .sidebar .white-piece {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        width: 50px;
        height: 50%;
    }

#chess-board {
    grid-area: chess-board;
    display: grid;
    grid-template-columns: repeat(8, 100px);
    grid-template-rows: repeat(8, 100px);
    box-shadow: #251b13 0px 8px 24px;
}

    #chess-board .white-piece {
        color: white;
        font-size: 70px;
    }

    #chess-board .black-piece {
        color: black;
        font-size: 70px;
    }

    #chess-board .selected-piece {
        border: solid black 3px;
    }

    #chess-board .cell-legal-move {
        background-color: lightgreen;
    }

    #chess-board .cell {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #chess-board .cell-white {
        background-color: #F0D9B5;
    }

    #chess-board .cell-black {
        background-color: #B58863;
    }

.show-turn {
    grid-area: header;
    text-align: center;
    text-transform: capitalize;
}

.x-axis {
    grid-area: x;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.y-axis {
    grid-area: y;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}