body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

#app {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #3d2e21;
    color: white;
}

.main-menu {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 20rem 20rem;
}

.main-menu .title {
    grid-column: 1/3;
    text-align: center;
}

.main-menu .menu-card {
    background-color: #00000050;
    padding: 1.5rem;
    border-radius: .5rem;
}

.main-menu button {
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    color: white;
    background-color: black;
    font-weight: bold;
    font-size: 1rem;
}

.main-menu input {
    background-color: transparent;
    padding: .5rem 1rem;
    border: solid #ffffff20 1px;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
}

.chess-board-wrapper {
    display: grid;
    grid-template-columns: min-content 70vh 30rem;
    grid-template-rows: min-content 70vh min-content;
    grid-template-areas: 
    ".      header          .      "
    "y      chess-board     sidebar"
    ".      x               .      ";
    gap: 1.5rem;
    user-select: none;
}

.sidebar {
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 8rem 1fr 8rem;
    grid-template-areas:
        "disabled-white"
        "."
        "disabled-black";

    border: solid #B58863 1px;
}

    .sidebar .disabled-white {
        grid-area: disabled-white;
        color: white;
    }

    .sidebar .disabled-black {
        grid-area: disabled-black;
        color: black;
        align-items: flex-end;
    }

    .sidebar .disabled-white, .sidebar .disabled-black {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .sidebar .black-piece, .sidebar .white-piece {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        width: 50px;
        height: 50%;
    }

#chess-board {
    grid-area: chess-board;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    box-shadow: #251b13 0px 8px 24px;
}

    #chess-board .white-piece {
        color: white;
        font-size: 6vh;
    }

    #chess-board .black-piece {
        color: black;
        font-size: 6vh;
    }

    #chess-board .selected-piece {
        border: solid black 3px;
    }

    #chess-board .cell-legal-move {
        background-color: lightgreen;
    }

    #chess-board .cell {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #chess-board .cell-white {
        background-color: #F0D9B5;
    }

    #chess-board .cell-black {
        background-color: #B58863;
    }

.show-turn {
    grid-area: header;
    text-align: center;
    text-transform: capitalize;
}

.x-axis {
    grid-area: x;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.y-axis {
    grid-area: y;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}